@model List<CartItem>
@{ 
    ViewData["Title"] = "Giỏ hàng";
}
<div style="background-color: black;opacity:0.8">
    <partial name="_Header" />
</div>
<br>
<h2 class="text-center" >GIỎ HÀNG</h2>

@if (Model.Count > 0)
{
    decimal total = 0;
    int stt = 1;

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>

            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.quantity * cartitem.product.Gia;
            total += thanhtien;
            var scrImg = "nophoto.png";
            <tr>

                <td>@(stt++)</td>
                <td>@cartitem.product.Name</td>
                <td>@(cartitem.product.Gia.ToString("n0")) đồng</td>
                <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.Id}")" min="1" max="@cartitem.product.Quantity" value="@cartitem.quantity" type="number" /> Còn x @cartitem.product.Quantity</td>

                <td>@(thanhtien.ToString("n0")) đồng</td>
                <td>
                    <button class="btn btn-success updatecartitem" type="submit"
                            data-productid="@cartitem.product.Id">
                        Cập nhật
                    </button>
                    <a asp-route="removecart" asp-route-productid="@cartitem.product.Id"
                       class="btn btn-danger">Xóa</a>
                    <a asp-controller="MonAn" asp-action="Details" asp-route-id="@cartitem.product.Id"
                       class="btn btn-info">Đi tới món ăn</a>
                   
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right text-danger">Tổng tiền</td>
            <td class="text-danger">@(total.ToString("n0")) đồng</td>
            <td>
                <a asp-controller="Product" asp-action="Checkout" class="btn btn-success position-absolute top-100 start-100 translate-middle">Gửi đơn hàng</a>
            </td>

        </tr>

    </table>


    @section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
        </script>
    }

}
else
{
    <p class="alert alert-danger text-center">Giỏ hàng trống</p>
}